/* ==========================================================================
	EDITOR
========================================================================== */
.editor {
    &__container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__content {
        flex: 1;
        display: flex;
    }

    &__result {
        width: 50%;
    }

    &__text-editor {
        flex-grow: 1;
        height: 100%;

        & > div.CodeMirror {
            height: 90vh;
        }
    }

    &__nav-items {
        display: flex;
    }

    &__nav-item {
        background: #f9f9f9;
        border-radius: .25em .25em 0 0;
        color: #888;
        cursor: pointer;
        display: block;
        float: left;
        font-size: 1em;
        height: 2.5em;
        line-height: 2.5em;
        margin-right: .25em;
        padding: 0 1.5em;
        text-align: center;
        user-select: none;
    }

    &__nav-item.active {
        background: #d1d1d1;
    }

    &__bar-resize {
        background-color: #f9f9f9;
        width: 1px;
        padding: 1px;
        cursor: ew-resize;
    }
}