// START : /TEMPLATES/LAYOUT-STATIC
doctype html
html
  include ../globals/head
  body
    block header
      include ../globals/header
    block content
    block footer
// END : /TEMPLATES/LAYOUT-STATIC
