extends templates/layout
include modules/modal

block content 
  div.editor
    div.editor__container
      header.editor__header
        h1 Editor
        button#save Save
      div.editor__content
        div#result.editor__result 
        div.editor__text-editor
          nav
            ul
              li 
                a File 1
              li 
                a File 2
          ul 
            li
              textarea#textEditor
      footer.editor__footer
        p Editor
  script.
      document.addEventListener("DOMContentLoaded", function() {
        System.import('https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.0/mode/javascript/javascript.min.js');
        System.import('/js/editor.bundle.js')
          .then(function(modules){
            let $textEditor = new modules.default({
              editor: '#textEditor',
            });
            let $saveEditor = new modules.default({
              editor: '#save',
            });
            let $result = new modules.default({
              editor: '#result',
            });

            var editor = window.CodeMirror.fromTextArea($textEditor.editor[0], {
                mode: 'javascript',
                theme: 'monokai',
                lineNumbers: true,
                tabSize: 2
            });

            $saveEditor.editor.on('click', function(){
              console.log('save');
              $result.editor[0].innerHTML = editor.getValue();
            });
        });
      });