extends templates/layout
include modules/modal

block content 
  h1 Store
  #counter 0
  button#buttonIncrement Increment
  button#buttonDecrement Decrement
  script.
      document.addEventListener("DOMContentLoaded", function() {
        System.import('/js/store.bundle.js');
        System.import('/js/getElement.bundle.js')
          .then(function(modules) {
            const store = new Store();
        
            const $btnInc = new modules.default('#buttonIncrement');
            const $btnDec = new modules.default('#buttonDecrement');
            const $counter = new modules.default('#counter');

            const render = function(state) {
              $counter[0].textContent = state.counter;
            }

            $btnInc.on('click', function(event) {
              store.dispatch('INCREMENT');
            });

            $btnDec.on('click', function(event) {
              store.dispatch('DECREMENT');
            });

            store.subscribe(function() {
              render(store.getState());
            });

            render(store.getState());
          });
      });